


/* Estilos de tabla */

table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    
}
th , td{
    padding: 10px;
}
table tr:nth-child(odd){
    background-color: #E1DEDE;
}
thead{
    background-color: #F6F6F6;
    border-bottom: solid 4px;
}
td>input{
    width:40px ;
    text-align: center;
}
.modify_product>input{
    width:70%;
    text-align: center;
}