

nav ul{
    display: flex;
    margin: 0px 10px;
    background-color: #282828;
    list-style: none;
    ;
    
}
.item > a , .logo > a{
    color: white;
    text-decoration: none; 
}
li{
    padding: 14px 10px;
    
}
.item:hover{
    background-color: #464646;
}

.logo{
    width: 200px;
    text-align: center;
    
}

.log_option{
     
    margin-left: auto;
    color: gray;
    font-size: 13px; 
}
.log_option > a{
    text-decoration: none;
}

.log_option > a{
    color:gray;
    margin: 0px 10px;
}