<nav>
    <ul class="menu">
        <li class="logo "><a routerLink="/login">LOGO</a></li>
        <li class="item "><a routerLink="/lista-productos">Inventario</a></li>
        <li class="item "><a routerLink="/ordenes-cotizaciones">Ordenes y Cotizaciones</a></li>
        <li class="item "><a routerLink="/proveedores-compras"> Proveedores y Compras</a></li>
        <li class="item "><a routerLink="/reportes">Reportes</a></li>
  
        <li class="log_option "><a routerLink="/login">Log Out</a><a href="#">{{userNav.usuario}}</a></li>
  
    </ul>
  </nav>
