<div class="page">

    <div class="container_flex">
        <div class="box-client">
            <img src="assets/img/company.svg" alt="">
        </div>

        <div class="box-client  ft-mid">
            <div id="text_date">
                Datos del proveedor:
            </div>
            <form action="" class="item_client">
                <p> Nombres <input type="text" value="{{proveedor.nombre}}"></p>
                <p> ID o NIT <input type="text" value="{{proveedor.nit}}"> </p>
                <p> Telefono <input type="text" value="{{proveedor.telefono}}"> </p>

            </form>

        </div>
        <div class="box-client ft-end">
            <button class="button_blue"> Actualizar </button>

        </div>

    </div>

    <div class="container_flex ft-colum">
        <div class="head-cont">
            <strong>Ordenes </strong>
            <input class="head-cont" type="text" value="buscar">
        </div>

        <div>
            <table>
                <thead>
                    <th>No. Orden</th>
                    <th>Tipo de orden</th>

                    <th>Valor</th>
                    <th>Estado</th>
                    <th>Acciones</th>

                </thead>
                <tr>
                    <td>516511515481</td>
                    <td> Venta </td>

                    <td> $1'544,171.00</td>
                    <td> En proceso</td>
                    <td><button class="button_blue"> modificar</button> <button class="button_red">eliminar</button></td>
                </tr>
                <tr>
                    <td>516511515481</td>
                    <td> Compra </td>

                    <td> $1'544,171.00</td>
                    <td> En proceso</td>
                    <td><button class="button_blue"> modificar</button> <button class="button_red">eliminar</button></td>
                </tr>
                <tr>
                    <td>516511515481</td>
                    <td> Venta </td>

                    <td> $1'544,171.00</td>
                    <td> Terminada</td>
                    <td><button class="button_blue"> modificar</button> <button class="button_red">eliminar</button></td>
                </tr>
                <tr>
                    <td>516511515481</td>
                    <td> Compra </td>

                    <td> $1'544,171.00</td>
                    <td> En proceso</td>
                    <td><button class="button_blue"> modificar</button> <button class="button_red">eliminar</button></td>
                </tr>
            </table>
        </div>
    </div>




</div>