/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { font-family: sans-serif; } 


.container{
    padding: 20px;
    margin: 20px 10px;
    

    align-items: center;
    align-content: center;
    justify-content: center;
}
.head-cont{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    
    font-size: 20px;
}
.head-cont>input{
    height: 20px;
    width: 200px;
    border-radius: 20px;
    color: grey;
    border: 1px solid gray;
    font-size: 15px;
}
.flex-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}



.ft-cont{
    margin: 20px 40px;
    border: 2px solid black;
    border-radius: 10px;
}
.ft-colum{
    flex-direction: column;
    
}
.ft-center{
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ft-prov{
    flex-direction: column;
    justify-content: space-between;
}



.page{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px;
}
.section{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;  
}



.button_blue{
    background-color: #2F84D3 ;
    border: transparent;
    border-radius: 7px; 
    padding: 5px 10px ;
    color: white;

}
.button_red{
    background-color: #D32F2F ;
    border: transparent;
    border-radius: 7px; 
    padding: 5px 10px ;
    color: white;

}

.button_green{
    background-color: #6BCB5B ;
    border: transparent;
    border-radius: 7px; 
    padding: 5px 10px ;
    color: white;

}

.button_yellow{
    background-color: #F8F14B ;
    border: transparent;
    border-radius: 7px; 
    padding: 5px 10px ;
    color: black;

}


.button_gray{
    background-color: #C6C6C6 ;
    border: transparent;
    border-radius: 7px; 
    padding: 5px 10px ;
    color: white;

}

.butt-comp{
    margin: 10px 0px ;
    top: 100px;
}

/* Contenedor de botones grises */
.ft-button{
    display: flex;
    
    justify-content: space-between;
    padding:0px 150px;
}
.ft-button>button{
    border-radius: 20px;
    padding: 5px;
}

.btn-list{
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 5px 10px ;
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
    box-shadow: 1px 3px 3px 1px black;

}




/* estilos del cuadro de  datos */
.date_box{
    display: flex;
    height: 300px;
    width: 450px;
    border-radius: 10px;
    border: 1px solid #C6C6C6;
    box-shadow: 3px 5px 5px 1px #C6C6C6;

    flex-direction: column;
    justify-content: space-between;
    
    
}

.prov_box{
    display: flex;
    height: 250px;
    width: 450px;
    border-radius: 10px;
    border: 1px solid #C6C6C6;
    box-shadow: 3px 5px 5px 1px #C6C6C6;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: space-between;
}

#text_date{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    
}

.item_date{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
   
}
.item_date > input{
    
    margin: 10px;
    
    text-indent: 30px;
    width: 90%;
    padding: 5px 0px;
    border-radius: 10px;
    opacity: 0.5;
}

.button_container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ft-prov{
    flex-direction: column;
    justify-content: space-between;
}


/*Ids */

#datos_product>input{
    opacity: 0.5;
    margin:10px 10px;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    
}

#inp_nombre{
    width: 200px;
}
#inp_marca{
    width: 80px;
}
#inp_modelo{
    width: 80px;
}#inp_precio{
    width: 80px;
}#inp_cantidad{
    width: 90px;
}