<div class="page">

    <div class="container ft-center">
        <div class="head-cont">
            <strong>Ordenes </strong>
            <input class="head-cont" type="text" placeholder="buscar" [(ngModel)]="query">
        </div>
        <table id="websendeos">
            <thead>
                <th>No. Orden</th>
                <th>Tipo de orden</th>
                <th>Cliente/Proveedor</th>
                <th>Valor</th>
                <th>Estado</th>
                <th>Acciones</th>

            </thead>
            <tr *ngFor ="let orden of ordenes | search:query">
                <td >
                    <p class="modify_product">  <input id="fila_{{orden.id}}" style="display: none;" type="text" value="{{orden.id}}" > </p>
                    <p id="fila_aux_{{orden.id}}">{{orden.id}} </p>
                    
                </td>
                <td> 
                    <p class="modify_product">  <input id="fila_{{orden.id}}" style="display: none;" type="text" value="{{orden.tipo}}" > </p>
                    <p id="fila_aux_{{orden.id}}">{{orden.tipo}} </p>
                     
                </td>
                <td> 
                    <p class="modify_product">  <input id="fila_{{orden.id}}" style="display: none;" type="text" value="{{orden.nombreCliente}} " > </p>
                    <p id="fila_aux_{{orden.id}}">{{orden.nombreCliente}}</p>
                    
                </td>
                <td> 
                    <p class="modify_product">  <input id="fila_{{orden.id}}" style="display: none;" type="text" value="{{orden.valor}}" > </p>
                    <p id="fila_aux_{{orden.id}}">${{orden.valor}}</p>
                    
                </td>
                <td> 
                    <p class="modify_product">  <input id="fila_{{orden.id}}" style="display: none;" type="text" value="{{orden.estado}}" > </p>
                    <p id="fila_aux_{{orden.id}}">{{orden.estado}}</p>
                    
                </td>
                <td>
                    <button class="button_blue" id ="btn_blue_{{orden.id}}" (click)="modificarAction(orden.id)"> modificar</button> 
                    <button class="button_red" id ="btn_red_{{orden.id}}" (click)="eliminarItem(orden.id)">eliminar</button>
                    <button class="button_green" id="btn_green_{{orden.id}}" style="display: none;" (click)="aplicarCambio(orden.id)" >aplicar</button>
                </td>

            </tr>
           
        </table>

    </div>


</div>
